﻿@{
  ViewData["Title"] = "Gallery V2";
}
@section Styles {
	<link href="~/lib/superbox/superbox.min.css" rel="stylesheet" />
}
@section Scripts {
	<script src="~/lib/superbox/jquery.superbox.min.js"></script>
	<script src="~/js/demo/gallery-v2.demo.js"></script>
}

<!-- begin breadcrumb -->
<ol class="breadcrumb float-xl-right">
	<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
	<li class="breadcrumb-item"><a href="javascript:;">Gallery</a></li>
	<li class="breadcrumb-item active">Gallery v2</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Gallery v2 <small>header small text goes here...</small></h1>
<!-- end page-header -->
<!-- begin superbox -->
<div class="superbox " data-offset="50">
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-1.jpg" />
		<span style="background: url(/img/gallery/gallery-1-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-2.jpg" />
		<span style="background: url(/img/gallery/gallery-2-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-3.jpg" />
		<span style="background: url(/img/gallery/gallery-3-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-4.jpg" />
		<span style="background: url(/img/gallery/gallery-4-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-5.jpg" />
		<span style="background: url(/img/gallery/gallery-5-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-6.jpg" />
		<span style="background: url(/img/gallery/gallery-6-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-7.jpg" />
		<span style="background: url(/img/gallery/gallery-7-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-8.jpg" />
		<span style="background: url(/img/gallery/gallery-8-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-9.jpg" />
		<span style="background: url(/img/gallery/gallery-9-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-10.jpg" />
		<span style="background: url(/img/gallery/gallery-10-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-11.jpg" />
		<span style="background: url(/img/gallery/gallery-11-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-12.jpg" />
		<span style="background: url(/img/gallery/gallery-12-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-13.jpg" />
		<span style="background: url(/img/gallery/gallery-13-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-14.jpg" />
		<span style="background: url(/img/gallery/gallery-14-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-15.jpg" />
		<span style="background: url(/img/gallery/gallery-15-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-16.jpg" />
		<span style="background: url(/img/gallery/gallery-16-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-17.jpg" />
		<span style="background: url(/img/gallery/gallery-17-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-18.jpg" />
		<span style="background: url(/img/gallery/gallery-18-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-19.jpg" />
		<span style="background: url(/img/gallery/gallery-19-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-20.jpg" />
		<span style="background: url(/img/gallery/gallery-20-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-21.jpg" />
		<span style="background: url(/img/gallery/gallery-21-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-22.jpg" />
		<span style="background: url(/img/gallery/gallery-22-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-23.jpg" />
		<span style="background: url(/img/gallery/gallery-23-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-24.jpg" />
		<span style="background: url(/img/gallery/gallery-24-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-25.jpg" />
		<span style="background: url(/img/gallery/gallery-25-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-26.jpg" />
		<span style="background: url(/img/gallery/gallery-26-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-27.jpg" />
		<span style="background: url(/img/gallery/gallery-27-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-28.jpg" />
		<span style="background: url(/img/gallery/gallery-28-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-29.jpg" />
		<span style="background: url(/img/gallery/gallery-29-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-30.jpg" />
		<span style="background: url(/img/gallery/gallery-30-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-31.jpg" />
		<span style="background: url(/img/gallery/gallery-31-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-32.jpg" />
		<span style="background: url(/img/gallery/gallery-32-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-33.jpg" />
		<span style="background: url(/img/gallery/gallery-33-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-34.jpg" />
		<span style="background: url(/img/gallery/gallery-34-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-35.jpg" />
		<span style="background: url(/img/gallery/gallery-35-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-36.jpg" />
		<span style="background: url(/img/gallery/gallery-36-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-37.jpg" />
		<span style="background: url(/img/gallery/gallery-37-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-38.jpg" />
		<span style="background: url(/img/gallery/gallery-38-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-39.jpg" />
		<span style="background: url(/img/gallery/gallery-39-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-40.jpg" />
		<span style="background: url(/img/gallery/gallery-40-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-41.jpg" />
		<span style="background: url(/img/gallery/gallery-41-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-42.jpg" />
		<span style="background: url(/img/gallery/gallery-42-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-43.jpg" />
		<span style="background: url(/img/gallery/gallery-43-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-44.jpg" />
		<span style="background: url(/img/gallery/gallery-44-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-45.jpg" />
		<span style="background: url(/img/gallery/gallery-45-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-46.jpg" />
		<span style="background: url(/img/gallery/gallery-46-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-47.jpg" />
		<span style="background: url(/img/gallery/gallery-47-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-48.jpg" />
		<span style="background: url(/img/gallery/gallery-48-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-49.jpg" />
		<span style="background: url(/img/gallery/gallery-49-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-50.jpg" />
		<span style="background: url(/img/gallery/gallery-50-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-51.jpg" />
		<span style="background: url(/img/gallery/gallery-51-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-52.jpg" />
		<span style="background: url(/img/gallery/gallery-52-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-53.jpg" />
		<span style="background: url(/img/gallery/gallery-53-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-54.jpg" />
		<span style="background: url(/img/gallery/gallery-54-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-55.jpg" />
		<span style="background: url(/img/gallery/gallery-55-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-56.jpg" />
		<span style="background: url(/img/gallery/gallery-56-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-57.jpg" />
		<span style="background: url(/img/gallery/gallery-57-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-58.jpg" />
		<span style="background: url(/img/gallery/gallery-58-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-59.jpg" />
		<span style="background: url(/img/gallery/gallery-59-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-60.jpg" />
		<span style="background: url(/img/gallery/gallery-60-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-61.jpg" />
		<span style="background: url(/img/gallery/gallery-61-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-62.jpg" />
		<span style="background: url(/img/gallery/gallery-62-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-63.jpg" />
		<span style="background: url(/img/gallery/gallery-63-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-64.jpg" />
		<span style="background: url(/img/gallery/gallery-64-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-65.jpg" />
		<span style="background: url(/img/gallery/gallery-65-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-66.jpg" />
		<span style="background: url(/img/gallery/gallery-66-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-67.jpg" />
		<span style="background: url(/img/gallery/gallery-67-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-68.jpg" />
		<span style="background: url(/img/gallery/gallery-68-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-69.jpg" />
		<span style="background: url(/img/gallery/gallery-69-thumb.jpg);"></span>
		</a>
	</div>
	<div class="superbox-list">
		<a href="javascript:;" class="superbox-img">
		<img data-img="/img/gallery/gallery-70.jpg" />
		<span style="background: url(/img/gallery/gallery-70-thumb.jpg);"></span>
		</a>
	</div>
</div>
<!-- end superbox -->
