﻿@{
  ViewData["Title"] = "Login V2";
  ViewData["PageWithoutContainer"] = "true";
  ViewData["PageWithoutHeader"] = "true";
  ViewData["PageWithoutSidebar"] = "true";
  ViewData["BodyClass"] = "pace-top";
}
@section Scripts {
	<script src="~/js/demo/login-v2.demo.js"></script>
}

<!-- begin login-cover -->
<div class="login-cover">
	<div class="login-cover-image" style="background-image: url(/img/login-bg/login-bg-17.jpg)" data-id="login-cover-image"></div>
	<div class="login-cover-bg"></div>
</div>
<!-- end login-cover -->

<!-- begin login -->
<div class="login login-v2" data-pageload-addclass="animated fadeIn">
	<!-- begin brand -->
	<div class="login-header">
		<div class="brand">
			<span class="logo"></span> <b>Color</b> Admin
			<small>responsive bootstrap 4 admin template</small>
		</div>
		<div class="icon">
			<i class="fa fa-lock"></i>
		</div>
	</div>
	<!-- end brand -->
	<!-- begin login-content -->
	<div class="login-content">
		<form action="/" method="GET" class="margin-bottom-0">
			<div class="form-group m-b-20">
				<input type="text" class="form-control form-control-lg" placeholder="Email Address" required />
			</div>
			<div class="form-group m-b-20">
				<input type="password" class="form-control form-control-lg" placeholder="Password" required />
			</div>
			<div class="checkbox checkbox-css m-b-20">
				<input type="checkbox" id="remember_checkbox" /> 
				<label for="remember_checkbox">
					Remember Me
				</label>
			</div>
			<div class="login-buttons">
				<button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>
			</div>
			<div class="m-t-20">
				Not a member yet? Click <a href="javascript:;">here</a> to register.
			</div>
		</form>
	</div>
	<!-- end login-content -->
</div>
<!-- end login -->

<!-- begin login-bg -->
<ul class="login-bg-list clearfix">
	<li class="active"><a href="javascript:;" data-click="change-bg" data-img="/img/login-bg/login-bg-17.jpg" style="background-image: url(/img/login-bg/login-bg-17.jpg)"></a></li>
	<li><a href="javascript:;" data-click="change-bg" data-img="/img/login-bg/login-bg-16.jpg" style="background-image: url(/img/login-bg/login-bg-16.jpg)"></a></li>
	<li><a href="javascript:;" data-click="change-bg" data-img="/img/login-bg/login-bg-15.jpg" style="background-image: url(/img/login-bg/login-bg-15.jpg)"></a></li>
	<li><a href="javascript:;" data-click="change-bg" data-img="/img/login-bg/login-bg-14.jpg" style="background-image: url(/img/login-bg/login-bg-14.jpg)"></a></li>
	<li><a href="javascript:;" data-click="change-bg" data-img="/img/login-bg/login-bg-13.jpg" style="background-image: url(/img/login-bg/login-bg-13.jpg)"></a></li>
	<li><a href="javascript:;" data-click="change-bg" data-img="/img/login-bg/login-bg-12.jpg" style="background-image: url(/img/login-bg/login-bg-12.jpg)"></a></li>
</ul>
<!-- end login-bg -->