﻿@{
  ViewData["Title"] = "Simple Line Icons";
}
@section Styles {
	<link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
}

<!-- begin breadcrumb -->
<ol class="breadcrumb float-xl-right">
	<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
	<li class="breadcrumb-item"><a href="javascript:;">UI Elements</a></li>
	<li class="breadcrumb-item active">Simple Line Icons</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Simple Line Icons <small>162 beautifully crafted webfont icons</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row text-center">
	<!-- begin col-2 -->
	<div class="col-lg-2 col-sm-4 col-6">
		<h3 class="text-ellipsis"><i class="icon-user"></i><br /><small>icon-user</small></h3>
		<h3 class="text-ellipsis"><i class="icon-user-female"></i><br /><small>icon-user-female</small></h3>
		<h3 class="text-ellipsis"><i class="icon-user"></i><br /><small>icon-user</small></h3>
		<h3 class="text-ellipsis"><i class="icon-user-follow"></i><br /><small>icon-user-follow</small></h3>
		<h3 class="text-ellipsis"><i class="icon-user-following"></i><br /><small>icon-user-following</small></h3>
		<h3 class="text-ellipsis"><i class="icon-user-unfollow"></i><br /><small>icon-user-unfollow</small></h3>
		<h3 class="text-ellipsis"><i class="icon-trophy"></i><br /><small>icon-trophy</small></h3>
		<h3 class="text-ellipsis"><i class="icon-speedometer"></i><br /><small>icon-speedometer</small></h3>
		<h3 class="text-ellipsis"><i class="icon-social-youtube"></i><br /><small>icon-social-youtube</small></h3>
		<h3 class="text-ellipsis"><i class="icon-social-twitter"></i><br /><small>icon-social-twitter</small></h3>
		<h3 class="text-ellipsis"><i class="icon-social-tumblr"></i><br /><small>icon-social-tumblr</small></h3>
		<h3 class="text-ellipsis"><i class="icon-social-facebook"></i><br /><small>icon-social-facebook</small></h3>
		<h3 class="text-ellipsis"><i class="icon-social-dropbox"></i><br /><small>icon-social-dropbox</small></h3>
		<h3 class="text-ellipsis"><i class="icon-social-dribbble"></i><br /><small>icon-social-dribbble</small></h3>
		<h3 class="text-ellipsis"><i class="icon-shield"></i><br /><small>icon-shield</small></h3>
		<h3 class="text-ellipsis"><i class="icon-screen-tablet"></i><br /><small>icon-screen-tablet</small></h3>
		<h3 class="text-ellipsis"><i class="icon-screen-smartphone"></i><br /><small>icon-screen-smartphone</small></h3>
		<h3 class="text-ellipsis"><i class="icon-screen-desktop"></i><br /><small>icon-screen-desktop</small></h3>
		<h3 class="text-ellipsis"><i class="icon-plane"></i><br /><small>icon-plane</small></h3>
		<h3 class="text-ellipsis"><i class="icon-notebook"></i><br /><small>icon-notebook</small></h3>
		<h3 class="text-ellipsis"><i class="icon-mustache"></i><br /><small>icon-mustache</small></h3>
		<h3 class="text-ellipsis"><i class="icon-mouse"></i><br /><small>icon-mouse</small></h3>
		<h3 class="text-ellipsis"><i class="icon-magnet"></i><br /><small>icon-magnet</small></h3>
		<h3 class="text-ellipsis"><i class="icon-magic-wand"></i><br /><small>icon-magic-wand</small></h3>
		<h3 class="text-ellipsis"><i class="icon-hourglass"></i><br /><small>icon-hourglass</small></h3>
		<h3 class="text-ellipsis"><i class="icon-graduation"></i><br /><small>icon-graduation</small></h3>
		<h3 class="text-ellipsis"><i class="icon-ghost"></i><br /><small>icon-ghost</small></h3>
	</div>
	<!-- end col-2 -->
	<!-- begin col-2 -->
	<div class="col-lg-2 col-sm-4 col-6">
	<h3 class="text-ellipsis"><i class="icon-game-controller"></i><br /><small>icon-game-controller</small></h3>
		<h3 class="text-ellipsis"><i class="icon-fire"></i><br /><small>icon-fire</small></h3>
		<h3 class="text-ellipsis"><i class="icon-eyeglass"></i><br /><small>icon-eyeglass</small></h3>
		<h3 class="text-ellipsis"><i class="icon-envelope-open"></i><br /><small>icon-envelope-open</small></h3>
		<h3 class="text-ellipsis"><i class="icon-envelope-letter"></i><br /><small>icon-envelope-letter</small></h3>
		<h3 class="text-ellipsis"><i class="icon-energy"></i><br /><small>icon-energy</small></h3>
		<h3 class="text-ellipsis"><i class="icon-emotsmile"></i><br /><small>icon-emotsmile</small></h3>
		<h3 class="text-ellipsis"><i class="icon-disc"></i><br /><small>icon-disc</small></h3>
		<h3 class="text-ellipsis"><i class="icon-cursor-move"></i><br /><small>icon-cursor-move</small></h3>
		<h3 class="text-ellipsis"><i class="icon-crop"></i><br /><small>icon-crop</small></h3>
		<h3 class="text-ellipsis"><i class="icon-credit-card"></i><br /><small>icon-credit-card</small></h3>
		<h3 class="text-ellipsis"><i class="icon-chemistry"></i><br /><small>icon-chemistry</small></h3>
		<h3 class="text-ellipsis"><i class="icon-bell"></i><br /><small>icon-bell</small></h3>
		<h3 class="text-ellipsis"><i class="icon-badge"></i><br /><small>icon-badge</small></h3>
		<h3 class="text-ellipsis"><i class="icon-anchor"></i><br /><small>icon-anchor</small></h3>
		<h3 class="text-ellipsis"><i class="icon-action-redo"></i><br /><small>icon-action-redo</small></h3>
		<h3 class="text-ellipsis"><i class="icon-action-undo"></i><br /><small>icon-action-undo</small></h3>
		<h3 class="text-ellipsis"><i class="icon-bag"></i><br /><small>icon-bag</small></h3>
		<h3 class="text-ellipsis"><i class="icon-basket"></i><br /><small>icon-basket</small></h3>
		<h3 class="text-ellipsis"><i class="icon-basket-loaded"></i><br /><small>icon-basket-loaded</small></h3>
		<h3 class="text-ellipsis"><i class="icon-book-open"></i><br /><small>icon-book-open</small></h3>
		<h3 class="text-ellipsis"><i class="icon-briefcase"></i><br /><small>icon-briefcase</small></h3>
		<h3 class="text-ellipsis"><i class="icon-bubbles"></i><br /><small>icon-bubbles</small></h3>
		<h3 class="text-ellipsis"><i class="icon-calculator"></i><br /><small>icon-calculator</small></h3>
		<h3 class="text-ellipsis"><i class="icon-call-end"></i><br /><small>icon-call-end</small></h3>
		<h3 class="text-ellipsis"><i class="icon-call-in"></i><br /><small>icon-call-in</small></h3>
		<h3 class="text-ellipsis"><i class="icon-call-out"></i><br /><small>icon-call-out</small></h3>
	</div>
	<!-- end col-2 -->
	<!-- begin col-2 -->
	<div class="col-lg-2 col-sm-4 col-6">
		<h3 class="text-ellipsis"><i class="icon-compass"></i><br /><small>icon-compass</small></h3>
		<h3 class="text-ellipsis"><i class="icon-cup"></i><br /><small>icon-cup</small></h3>
		<h3 class="text-ellipsis"><i class="icon-diamond"></i><br /><small>icon-diamond</small></h3>
		<h3 class="text-ellipsis"><i class="icon-direction"></i><br /><small>icon-direction</small></h3>
		<h3 class="text-ellipsis"><i class="icon-directions"></i><br /><small>icon-directions</small></h3>
		<h3 class="text-ellipsis"><i class="icon-docs"></i><br /><small>icon-docs</small></h3>
		<h3 class="text-ellipsis"><i class="icon-drawer"></i><br /><small>icon-drawer</small></h3>
		<h3 class="text-ellipsis"><i class="icon-drop"></i><br /><small>icon-drop</small></h3>
		<h3 class="text-ellipsis"><i class="icon-earphones"></i><br /><small>icon-earphones</small></h3>
		<h3 class="text-ellipsis"><i class="icon-earphones-alt"></i><br /><small>icon-earphones-alt</small></h3>
		<h3 class="text-ellipsis"><i class="icon-feed"></i><br /><small>icon-feed</small></h3>
		<h3 class="text-ellipsis"><i class="icon-film"></i><br /><small>icon-film</small></h3>
		<h3 class="text-ellipsis"><i class="icon-folder-alt"></i><br /><small>icon-folder-alt</small></h3>
		<h3 class="text-ellipsis"><i class="icon-frame"></i><br /><small>icon-frame</small></h3>
		<h3 class="text-ellipsis"><i class="icon-globe"></i><br /><small>icon-globe</small></h3>
		<h3 class="text-ellipsis"><i class="icon-globe-alt"></i><br /><small>icon-globe-alt</small></h3>
		<h3 class="text-ellipsis"><i class="icon-handbag"></i><br /><small>icon-handbag</small></h3>
		<h3 class="text-ellipsis"><i class="icon-layers"></i><br /><small>icon-layers</small></h3>
		<h3 class="text-ellipsis"><i class="icon-map"></i><br /><small>icon-map</small></h3>
		<h3 class="text-ellipsis"><i class="icon-picture"></i><br /><small>icon-picture</small></h3>
		<h3 class="text-ellipsis"><i class="icon-pin"></i><br /><small>icon-pin</small></h3>
		<h3 class="text-ellipsis"><i class="icon-playlist"></i><br /><small>icon-playlist</small></h3>
		<h3 class="text-ellipsis"><i class="icon-present"></i><br /><small>icon-present</small></h3>
		<h3 class="text-ellipsis"><i class="icon-printer"></i><br /><small>icon-printer</small></h3>
		<h3 class="text-ellipsis"><i class="icon-puzzle"></i><br /><small>icon-puzzle</small></h3>
		<h3 class="text-ellipsis"><i class="icon-speech"></i><br /><small>icon-speech</small></h3>
		<h3 class="text-ellipsis"><i class="icon-vector"></i><br /><small>icon-vector</small></h3>
	</div>
	<!-- end col-2 -->
	<!-- begin col-2 -->
	<div class="col-lg-2 col-sm-4 col-6">
		<h3 class="text-ellipsis"><i class="icon-wallet"></i><br /><small>icon-wallet</small></h3>
		<h3 class="text-ellipsis"><i class="icon-arrow-down"></i><br /><small>icon-arrow-down</small></h3>
		<h3 class="text-ellipsis"><i class="icon-arrow-left"></i><br /><small>icon-arrow-left</small></h3>
		<h3 class="text-ellipsis"><i class="icon-arrow-right"></i><br /><small>icon-arrow-right</small></h3>
		<h3 class="text-ellipsis"><i class="icon-arrow-up"></i><br /><small>icon-arrow-up</small></h3>
		<h3 class="text-ellipsis"><i class="icon-chart"></i><br /><small>icon-chart</small></h3>
		<h3 class="text-ellipsis"><i class="icon-bulb"></i><br /><small>icon-bulb</small></h3>
		<h3 class="text-ellipsis"><i class="icon-calendar"></i><br /><small>icon-calendar</small></h3>
		<h3 class="text-ellipsis"><i class="icon-control-end"></i><br /><small>icon-control-end</small></h3>
		<h3 class="text-ellipsis"><i class="icon-control-forward"></i><br /><small>icon-control-forward</small></h3>
		<h3 class="text-ellipsis"><i class="icon-control-pause"></i><br /><small>icon-control-pause</small></h3>
		<h3 class="text-ellipsis"><i class="icon-control-play"></i><br /><small>icon-control-play</small></h3>
		<h3 class="text-ellipsis"><i class="icon-control-rewind"></i><br /><small>icon-control-rewind</small></h3>
		<h3 class="text-ellipsis"><i class="icon-control-start"></i><br /><small>icon-control-start</small></h3>
		<h3 class="text-ellipsis"><i class="icon-cursor"></i><br /><small>icon-cursor</small></h3>
		<h3 class="text-ellipsis"><i class="icon-dislike"></i><br /><small>icon-dislike</small></h3>
		<h3 class="text-ellipsis"><i class="icon-equalizer"></i><br /><small>icon-equalizer</small></h3>
		<h3 class="text-ellipsis"><i class="icon-graph"></i><br /><small>icon-graph</small></h3>
		<h3 class="text-ellipsis"><i class="icon-grid"></i><br /><small>icon-grid</small></h3>
		<h3 class="text-ellipsis"><i class="icon-home"></i><br /><small>icon-home</small></h3>
		<h3 class="text-ellipsis"><i class="icon-like"></i><br /><small>icon-like</small></h3>
		<h3 class="text-ellipsis"><i class="icon-list"></i><br /><small>icon-list</small></h3>
		<h3 class="text-ellipsis"><i class="icon-login"></i><br /><small>icon-login</small></h3>
		<h3 class="text-ellipsis"><i class="icon-logout"></i><br /><small>icon-logout</small></h3>
		<h3 class="text-ellipsis"><i class="icon-loop"></i><br /><small>icon-loop</small></h3>
		<h3 class="text-ellipsis"><i class="icon-microphone"></i><br /><small>icon-microphone</small></h3>
		<h3 class="text-ellipsis"><i class="icon-music-tone"></i><br /><small>icon-music-tone</small></h3>
	</div>
	<!-- end col-2 -->
	<!-- begin col-2 -->
	<div class="col-lg-2 col-sm-4 col-6">
		<h3 class="text-ellipsis"><i class="icon-music-tone-alt"></i><br /><small>icon-music-tone-alt</small></h3>
		<h3 class="text-ellipsis"><i class="icon-note"></i><br /><small>icon-note</small></h3>
		<h3 class="text-ellipsis"><i class="icon-pencil"></i><br /><small>icon-pencil</small></h3>
		<h3 class="text-ellipsis"><i class="icon-pie-chart"></i><br /><small>icon-pie-chart</small></h3>
		<h3 class="text-ellipsis"><i class="icon-question"></i><br /><small>icon-question</small></h3>
		<h3 class="text-ellipsis"><i class="icon-rocket"></i><br /><small>icon-rocket</small></h3>
		<h3 class="text-ellipsis"><i class="icon-share"></i><br /><small>icon-share</small></h3>
		<h3 class="text-ellipsis"><i class="icon-share-alt"></i><br /><small>icon-share-alt</small></h3>
		<h3 class="text-ellipsis"><i class="icon-shuffle"></i><br /><small>icon-shuffle</small></h3>
		<h3 class="text-ellipsis"><i class="icon-size-actual"></i><br /><small>icon-size-actual</small></h3>
		<h3 class="text-ellipsis"><i class="icon-size-fullscreen"></i><br /><small>icon-size-fullscreen</small></h3>
		<h3 class="text-ellipsis"><i class="icon-support"></i><br /><small>icon-support</small></h3>
		<h3 class="text-ellipsis"><i class="icon-tag"></i><br /><small>icon-tag</small></h3>
		<h3 class="text-ellipsis"><i class="icon-trash"></i><br /><small>icon-trash</small></h3>
		<h3 class="text-ellipsis"><i class="icon-umbrella"></i><br /><small>icon-umbrella</small></h3>
		<h3 class="text-ellipsis"><i class="icon-wrench"></i><br /><small>icon-wrench</small></h3>
		<h3 class="text-ellipsis"><i class="icon-ban"></i><br /><small>icon-ban</small></h3>
		<h3 class="text-ellipsis"><i class="icon-bubble"></i><br /><small>icon-bubble</small></h3>
		<h3 class="text-ellipsis"><i class="icon-camrecorder"></i><br /><small>icon-camrecorder</small></h3>
		<h3 class="text-ellipsis"><i class="icon-camera"></i><br /><small>icon-camera</small></h3>
		<h3 class="text-ellipsis"><i class="icon-check"></i><br /><small>icon-check</small></h3>
		<h3 class="text-ellipsis"><i class="icon-clock"></i><br /><small>icon-clock</small></h3>
		<h3 class="text-ellipsis"><i class="icon-close"></i><br /><small>icon-close</small></h3>
		<h3 class="text-ellipsis"><i class="icon-cloud-download"></i><br /><small>icon-cloud-download</small></h3>
		<h3 class="text-ellipsis"><i class="icon-cloud-upload"></i><br /><small>icon-cloud-upload</small></h3>
		<h3 class="text-ellipsis"><i class="icon-doc"></i><br /><small>icon-doc</small></h3>
		<h3 class="text-ellipsis"><i class="icon-envelope"></i><br /><small>icon-envelope</small></h3>
	</div>
	<!-- end col-2 -->
	<!-- begin col-2 -->
	<div class="col-lg-2 col-sm-4 col-6">
		<h3 class="text-ellipsis"><i class="icon-eye"></i><br /><small>icon-eye</small></h3>
		<h3 class="text-ellipsis"><i class="icon-flag"></i><br /><small>icon-flag</small></h3>
		<h3 class="text-ellipsis"><i class="icon-folder"></i><br /><small>icon-folder</small></h3>
		<h3 class="text-ellipsis"><i class="icon-heart"></i><br /><small>icon-heart</small></h3>
		<h3 class="text-ellipsis"><i class="icon-info"></i><br /><small>icon-info</small></h3>
		<h3 class="text-ellipsis"><i class="icon-key"></i><br /><small>icon-key</small></h3>
		<h3 class="text-ellipsis"><i class="icon-link"></i><br /><small>icon-link</small></h3>
		<h3 class="text-ellipsis"><i class="icon-lock"></i><br /><small>icon-lock</small></h3>
		<h3 class="text-ellipsis"><i class="icon-lock-open"></i><br /><small>icon-lock-open</small></h3>
		<h3 class="text-ellipsis"><i class="icon-magnifier"></i><br /><small>icon-magnifier</small></h3>
		<h3 class="text-ellipsis"><i class="icon-magnifier-add"></i><br /><small>icon-magnifier-add</small></h3>
		<h3 class="text-ellipsis"><i class="icon-magnifier-remove"></i><br /><small>icon-magnifier-remove</small></h3>
		<h3 class="text-ellipsis"><i class="icon-paper-clip"></i><br /><small>icon-paper-clip</small></h3>
		<h3 class="text-ellipsis"><i class="icon-paper-plane"></i><br /><small>icon-paper-plane</small></h3>
		<h3 class="text-ellipsis"><i class="icon-plus"></i><br /><small>icon-plus</small></h3>
		<h3 class="text-ellipsis"><i class="icon-location-pin"></i><br /><small>icon-location-pin</small></h3>
		<h3 class="text-ellipsis"><i class="icon-power"></i><br /><small>icon-power</small></h3>
		<h3 class="text-ellipsis"><i class="icon-refresh"></i><br /><small>icon-refresh</small></h3>
		<h3 class="text-ellipsis"><i class="icon-reload"></i><br /><small>icon-reload</small></h3>
		<h3 class="text-ellipsis"><i class="icon-settings"></i><br /><small>icon-settings</small></h3>
		<h3 class="text-ellipsis"><i class="icon-star"></i><br /><small>icon-star</small></h3>
		<h3 class="text-ellipsis"><i class="icon-symbol-female"></i><br /><small>icon-symbol-female</small></h3>
		<h3 class="text-ellipsis"><i class="icon-symbol-male"></i><br /><small>icon-symbol-male</small></h3>
		<h3 class="text-ellipsis"><i class="icon-target"></i><br /><small>icon-target</small></h3>
		<h3 class="text-ellipsis"><i class="icon-volume-1"></i><br /><small>icon-volume-1</small></h3>
		<h3 class="text-ellipsis"><i class="icon-volume-2"></i><br /><small>icon-volume-2</small></h3>
		<h3 class="text-ellipsis"><i class="icon-volume-off"></i><br /><small>icon-volume-off</small></h3>
	</div>
	<!-- end col-2 -->
</div>
<!-- end row -->
