.error-form {
    color: red;
}
.btn-company {
    background-color: #015ca3;
    border-color: #1b3d78;
    color: white;
}
.btn-company:hover {
    background-color: #015ca3;
    border-color: #1b3d78;
    color: white;
}

.delete-hover-image {
    position: relative;
    width: 100px;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.delete-hover-image:hover .image {
    opacity: 0.3;
}

.delete-hover-image:hover .middle {
    opacity: 1;
}
.hover-dlt-image {
    opacity: 1;
    display: block;
    /* width: 100%; */
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}
