.cid-sdukFSYwTN {
    padding-top: 5rem;
    margin-top: 3rem;
    padding-bottom: 5rem;
    background-color: #2070af;
}
@media (min-width: 992px) {
    .cid-sdukFSYwTN .text-wrapper {
        max-width: 700px;
    }
}
.cid-sdukFSYwTN .mbr-section-title {
    z-index: 99;
    color: #ffffff;
    position: relative;
}

@media (min-width: 992px) {
    .cid-sdukFSYwTN .mbr-section-title {
        margin-left: -6rem;
    }
}

.display-1 {
    font-family: "Inter", sans-serif;
    font-size: 4.6rem;
    line-height: 1.1;
}
.cid-sdukFSYwTN .mbr-text,
.cid-sdukFSYwTN .mbr-section-btn {
    color: #ffffff;
}

.display-7 {
    /* font-family: "Bai Jamjuree", sans-serif; */
    font-size: 1.2rem;
    line-height: 1.5;
}
.btn-white-outline,
.btn-white-outline:active {
    background-color: transparent !important;
    box-shadow: inset 0px 0px 0px 3px #fafafa;
    color: #fafafa;
}

.btn-white-outline {
    position: relative;
    z-index: 1;
}
.btn-lg {
    padding: 1rem 2.6rem;
    border-radius: 0px;
}
.align-right {
    text-align: right;
}
@media (min-width: 992px) {
    .cid-sdukFSYwTN .mbr-section-right-title {
        margin-right: -6rem;
    }
}
.cid-sdukFSYwTN .mbr-section-right-title {
    z-index: 99;
    color: #ffffff;
    position: relative;
}
.demo {
    background-color: #00629f;
}
.main-timeline {
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
    padding: 40px 0;
}
.main-timeline:before {
    content: "";
    background-color: #ffd004;
    height: 100%;
    width: 30px;
    border: 7px solid #f26f37;
    border-top: none;
    border-bottom: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
}
.main-timeline:after {
    content: "";
    display: block;
    clear: both;
}
.main-timeline .timeline {
    color: #fff;
    width: 50.1%;
    float: left;
    position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after {
    content: "";
    background-color: #fff;
    height: 2px;
    width: 100px;
    position: absolute;
    right: 42px;
    top: 4px;
}
.main-timeline .timeline:after {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 0;
    right: 133px;
}
.main-timeline .timeline-content {
    color: #fff;
    padding: 10px 150px 0 0;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover {
    color: #fff;
    text-decoration: none;
}
.main-timeline .timeline-year {
    background-color: #1b3d78;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 60px;
    box-shadow: 0 0 5px #000 inset, 0 0 0 10px #fff;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    top: 0;
}
.main-timeline .title {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px 0;
}
.main-timeline .title i {
    font-size: 35px;
    margin-top: 5px;
    margin-left: 5px;
}
.main-timeline .description {
    font-size: 15px;
    letter-spacing: 1px;
}
.main-timeline .timeline:nth-child(even) {
    float: right;
}
.main-timeline .timeline:nth-child(even):before {
    right: auto;
    left: 42px;
}
.main-timeline .timeline:nth-child(even):after {
    right: auto;
    left: 133px;
}
.main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 10px 0 0 150px;
}
.main-timeline .timeline:nth-child(even) .timeline-year {
    right: auto;
    left: -29px;
}
@media only screen and (max-width: 990px) {
    .main-timeline .timeline:before {
        width: 50px;
    }
    .main-timeline .timeline:after {
        right: 90px;
    }
    .main-timeline .timeline-content {
        padding: 10px 80px 0 0;
    }
    .main-timeline .timeline:nth-child(even):after {
        left: 90px;
    }
    .main-timeline .timeline:nth-child(even) .timeline-content {
        padding: 10px 0 0 80px;
    }
}
@media only screen and (max-width: 767px) {
    .main-timeline:before {
        transform: translateX(0);
        left: 15px;
    }
    .main-timeline .timeline {
        width: 100%;
        margin-bottom: 30px;
    }
    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(even):before {
        left: 80px;
    }
    .main-timeline .timeline:after,
    .main-timeline .timeline:nth-child(even):after {
        left: 120px;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year {
        left: 0;
    }
    .main-timeline .timeline-content {
        padding: 10px 0 0 80px;
    }
    .main-timeline .title {
        font-size: 20px;
    }
    .main-timeline .title i {
        font-size: 25px;
    }
}
.timeline-title {
    font-size: 3.6rem;
    margin-bottom: 40px;
    color: white;
}
.timeline-header {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    background-color: #2070af;
}
.footer {
    background: #2070af;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}
.other-ul {
    margin-left: 0.5em;
}
.address-footer-ml {
    padding-left: 2rem;
}

.post-slide {
    margin: 0 15px;
    position: relative;
    background: #fff;
}
.post-slide .post-img {
    position: relative;
    overflow: hidden;
}
.post-slide .post-img img {
    width: 100%;
    height: auto;
}
.post-slide .over-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
}
.post-slide:hover .over-layer {
    opacity: 1;
}
.post-slide .post-link {
    margin: 0;
    padding: 0;
    position: relative;
    top: 45%;
    text-align: center;
}
.post-slide .post-link li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}
.post-slide .post-link li a {
    color: #fff;
    font-size: 20px;
}
.post-slide .post-link li a:hover {
    color: #ff8b3d;
    text-decoration: none;
}
.post-slide .post-date {
    position: absolute;
    top: 10%;
    left: 4%;
}
.post-slide .date {
    display: inline-block;
    border-radius: 3px 0 0 3px;
    padding: 5px 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: #333;
    float: left;
}
.post-slide .month {
    display: inline-block;
    border-radius: 0 3px 3px 0;
    padding: 5px 13px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #2070af;
}
.post-slide .post-content {
    padding: 30px;
}
.post-slide .post-title {
    margin: 0 0 15px 0;
}
.post-slide .post-title a {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover {
    text-decoration: none;
    color: #ff8b3d;
}
.post-slide .post-description {
    font-size: 14px;
    line-height: 24px;
    color: #808080;
}
.post-slide .read-more {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s linear;
}
.post-slide .read-more:hover {
    text-decoration: none;
    color: #ff8b3d;
}
.post-slide .read-more:after {
    content: "";
    position: absolute;
    width: 30%;
    display: block;
    border: 1px solid #2070af;
    transition: all 0.3s ease;
}
.post-slide .read-more:hover:after {
    width: 100%;
}
@media only screen and (max-width: 479px) {
    .post-slide .month {
        font-size: 14px;
    }
    .post-slide .date {
        font-size: 14px;
    }
}
.news-title {
    font-size: 3rem;
    margin-bottom: 40px;
    margin-top: 1.8rem;
    padding-left: 1.5rem;
    color: black;

    border-left: 5px solid #2070af;
}
.brands-title {
    font-size: 3rem;
    margin-bottom: 40px;
    margin-top: 1.8rem;
    position: relative;
}
.brands-title span {
    /* padding-bottom: 1.5rem; */
    /* border-bottom: 5px solid #2070af; */
}
.owl_content_brands .owl-item {
    height: 200px;
    background-color: white;
    /* border: 1px solid #2070af; */
    /* margin: 5px; */
}
.owl_content_brands img {
    width: 150px;
    height: 100%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.brands-title::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    margin-top: 15px;
    background: #2070af;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.footer{
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 45px 0;
}

.bg-white {
    padding: 102px 0;
}

.carousel .carousel-inner, .carousel .carousel-inner .carousel-item, .carousel .carousel-inner .item, .slider .carousel {
    min-height: 34.125rem;
}

.section-container {
    padding: 4.8125rem 0;
}

.product .product-detail .product-image {
    width: 45.5rem;
}

.product-tab .nav.nav-tabs {
    border-bottom: none;
}


.product-desc+.product-desc {
    border-top: none;
}

.product .product-detail .product-image+.product-info {
    border-left: none;
}

.product {
    border: none;
}

.product .product-detail .product-image .product-thumbnail+.product-main-image {
     border-left: none;
}

.product .product-detail {
    border-bottom: 1px solid #dee2e6;
}

.product .product-detail .product-image .product-thumbnail .product-thumbnail-list {
    overflow: hidden;
}


.product .product-detail {
     border-bottom: none;
}