﻿@{
  ViewData["Title"] = "Page with Two Sidebar";
  ViewData["PageContainerClass"] = "page-with-two-sidebar";
  ViewData["PageWithTwoSidebar"] = "true";
}
@section Scripts {
	<script src="~/lib/jquery-sparkline/jquery.sparkline.min.js"></script>
	<script src="~/lib/jquery-knob/dist/jquery.knob.min.js"></script>
	<script src="~/js/demo/page-with-two-sidebar.demo.js"></script>
}

<!-- begin breadcrumb -->
<ol class="breadcrumb float-xl-right">
	<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
	<li class="breadcrumb-item"><a href="javascript:;">Page Options</a></li>
	<li class="breadcrumb-item active">Page with Two Sidebar</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Page with Two Sidebar <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin panel -->
<div class="panel panel-inverse">
	<div class="panel-heading">
		<h4 class="panel-title">Panel Title here</h4>
		<div class="panel-heading-btn">
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
		</div>
	</div>
	<div class="panel-body">
		Panel Content Here
	</div>
</div>
<!-- end panel -->