﻿@{
  ViewData["Title"] = "Full Height Content Page";
  ViewData["PageContainerClass"] = "page-content-full-height";
  ViewData["PageContentClass"] = "content-full-width";
}

<!-- begin vertical-box -->
<div class="vertical-box">
	<!-- begin vertical-box-column -->
	<div class="vertical-box-column width-250">
		<!-- begin vertical-box -->
		<div class="vertical-box">
			<!-- begin wrapper -->
			<div class="wrapper bg-blue-darker text-white">
				Left Column Top Box
			</div>
			<!-- end wrapper -->
			<!-- begin vertical-box-row -->
			<div class="vertical-box-row bg-blue text-white">
				<!-- begin vertical-box-cell -->
				<div class="vertical-box-cell">
					<!-- begin vertical-box-inner-cell -->
					<div class="vertical-box-inner-cell">
						<!-- begin scrollbar -->
						<div data-scrollbar="true" data-height="100%" class="wrapper">
							Content Area with scrollbar. Try to scroll down.
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							You got the bottom
						</div>
						<!-- end scrollbar -->
					</div>
					<!-- end vertical-box-inner-cell -->
				</div>
				<!-- end vertical-box-cell -->
			</div>
			<!-- end vertical-box-row -->
			<!-- begin wrapper -->
			<div class="wrapper bg-blue-darker text-white">
				Left Column Bottom Box
			</div>
			<!-- end wrapper -->
		</div>
		<!-- end vertical-box -->
	</div>
	<!-- end vertical-box-column -->
	<!-- begin vertical-box-column -->
	<div class="vertical-box-column">
		<!-- begin vertical-box -->
		<div class="vertical-box">
			<!-- begin vertical-box-row -->
			<div class="vertical-box-row">
				<!-- begin vertical-box-cell -->
				<div class="vertical-box-cell">
					<!-- begin vertical-box-inner-cell -->
					<div class="vertical-box-inner-cell">
						<!-- begin scrollbar -->
						<div data-scrollbar="true" data-height="100%" class="wrapper">
							Content Area with scrollbar. Try to scroll down.
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							You got the bottom
						</div>
						<!-- end scrollbar -->
					</div>
					<!-- end vertical-box-inner-cell -->
				</div>
				<!-- end vertical-box-cell -->
			</div>
			<!-- end vertical-box-row -->
		</div>
		<!-- end vertical-box -->
	</div>
	<!-- end vertical-box-column -->
	<!-- begin vertical-box-column -->
	<div class="vertical-box-column width-250">
		<!-- begin vertical-box -->
		<div class="vertical-box">
			<!-- begin wrapper -->
			<div class="wrapper bg-teal-darker text-white">
				Right Column Top Box
			</div>
			<!-- end wrapper -->
			<!-- begin vertical-box-row -->
			<div class="vertical-box-row bg-teal text-white">
				<!-- begin vertical-box-cell -->
				<div class="vertical-box-cell">
					<!-- begin vertical-box-inner-cell -->
					<div class="vertical-box-inner-cell">
						<!-- begin scrollbar -->
						<div data-scrollbar="true" data-height="100%" class="wrapper">
							Content Area with scrollbar. Try to scroll down.
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							You got the bottom
						</div>
						<!-- end scrollbar -->
					</div>
					<!-- end vertical-box-inner-cell -->
				</div>
				<!-- end vertical-box-cell -->
			</div>
			<!-- end vertical-box-row -->
			<!-- begin wrapper -->
			<div class="wrapper bg-teal-darker text-white">
				Right Column Bottom Box
			</div>
			<!-- end wrapper -->
		</div>
		<!-- end vertical-box -->
	</div>
	<!-- end vertical-box-column -->
</div>
<!-- end vertical-box -->