<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" ng-controller="sidebarController" ng-class="{ 'sidebar-transparent': setting.layout.pageSidebarTransparent }">
  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">
    <!-- begin sidebar user -->
    <ul class="nav" ng-if="!setting.layout.pageSidebarSearch">
      <li class="nav-profile">
        <a href="javascript:;" data-toggle="nav-profile">
          <div class="cover with-shadow"></div>
          <div class="image">
            <img src="../assets/img/user/user-13.jpg" alt="" />
          </div>
          <div class="info">
            <b class="caret pull-right"></b>
            Sean Ngu
            <small>Front end developer</small>
          </div>
        </a>
      </li>
      <li>
        <ul class="nav nav-profile">
          <li><a href="javascript:;"><i class="fa fa-cog"></i> Settings</a></li>
          <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Send Feedback</a></li>
          <li><a href="javascript:;"><i class="fa fa-question-circle"></i> Helps</a></li>
        </ul>
      </li>
    </ul>
    <!-- end sidebar user -->
    <!-- begin sidebar nav -->
    <ul class="nav">
    	<li class="nav-search" ng-if="setting.layout.pageSidebarSearch">
				<input type="text" class="form-control" placeholder="Sidebar menu filter..." data-sidebar-search="true" />
			</li>
      <li class="nav-header">Navigation</li>
      <li class="has-sub" ng-class="{active:$state.includes('app.dashboard')}">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-th-large"></i>
					<span>Dashboard</span>
        </a>
        <ul class="sub-menu">
          <li ui-sref-active="active"><a ui-sref="app.dashboard.v1">Dashboard v1</a></li>
          <li ui-sref-active="active"><a ui-sref="app.dashboard.v2">Dashboard v2</a></li>
          <li ui-sref-active="active"><a ui-sref="app.dashboard.v3">Dashboard v3</a></li>
        </ul>
      </li>
      <li class="has-sub" ng-class="{active:$state.includes('app.email')}">
        <a href="javascript:;">
					<span class="badge pull-right">10</span>
					<i class="fa fa-hdd"></i> 
					<span>Email</span>
        </a>
        <ul class="sub-menu">
          <li ui-sref-active="active"><a ui-sref="app.email.inbox">Inbox</a></li>
          <li ui-sref-active="active"><a ui-sref="app.email.compose">Compose</a></li>
          <li ui-sref-active="active"><a ui-sref="app.email.detail">Detail</a></li>
        </ul>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.widget">
					<i class="fab fa-simplybuilt"></i> 
					<span>Widgets <span class="label label-theme">NEW</span></span> 
        </a>
      </li>
      <li class="has-sub" ng-class="{active:$state.includes('app.ui')}">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-gem"></i>
					<span>UI Elements <span class="label label-theme">NEW</span></span> 
        </a>
        <ul class="sub-menu">
          <li ui-sref-active="active"><a ui-sref="app.ui.general">General <i class="fa fa-paper-plane text-theme"></i></a></li>
          <li ui-sref-active="active"><a ui-sref="app.ui.typography">Typography</a></li>
          <li ui-sref-active="active"><a ui-sref="app.ui.tabsAccordions">Tabs & Accordions</a></li>
          <li ui-sref-active="active"><a ui-sref="app.ui.unlimitedTabs">Unlimited Nav Tabs</a></li>
          <li ui-sref-active="active"><a ui-sref="app.ui.modalNotification">Modal & Notification <i class="fa fa-paper-plane text-theme"></i></a></li>
          <li ui-sref-active="active"><a ui-sref="app.ui.widgetBoxes">Widget Boxes</a></li>
          <li ui-sref-active="active"><a ui-sref="app.ui.mediaObject">Media Object</a></li>
          <li ui-sref-active="active"><a ui-sref="app.ui.buttons">Buttons <i class="fa fa-paper-plane text-theme"></i></a></li>
          <li ui-sref-active="active"><a ui-sref="app.ui.icons">Icons</a></li>
          <li ui-sref-active="active"><a ui-sref="app.ui.simpleLineIcons">Simple Line Icons</a></li>
          <li ui-sref-active="active"><a ui-sref="app.ui.ionicons">Ionicons</a></li>
          <li ui-sref-active="active"><a ui-sref="app.ui.tree">Tree View</a></li>
          <li ui-sref-active="active"><a ui-sref="app.ui.languageBarIcon">Language Bar & Icon</a></li>
          <li ui-sref-active="active"><a ui-sref="app.ui.socialButtons">Social Buttons</a></li>
          <li ui-sref-active="active"><a ui-sref="app.ui.tour">Intro JS</a></li>
        </ul>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.bootstrap4">
          <div class="icon-img">
            <img src="../assets/img/logo/logo-bs4.png" alt="" />
          </div>
          <span>Bootstrap 4 <span class="label label-theme">NEW</span></span> 
        </a>
      </li>
      <li class="has-sub" ng-class="{active:$state.includes('app.form')}">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-list-ol"></i>
					<span>Form Stuff <span class="label label-theme">NEW</span></span> 
        </a>
        <ul class="sub-menu">
          <li ui-sref-active="active"><a ui-sref="app.form.elements">Form Elements <i class="fa fa-paper-plane text-theme"></i></a></li>
          <li ui-sref-active="active"><a ui-sref="app.form.plugins">Form Plugins <i class="fa fa-paper-plane text-theme"></i></a></li>
          <li ui-sref-active="active"><a ui-sref="app.form.sliderSwitcher">Form Slider + Switcher</a></li>
          <li ui-sref-active="active"><a ui-sref="app.form.wizards">Form Wizards <i class="fa fa-paper-plane text-theme"></i></a></li>
          <li ui-sref-active="active"><a ui-sref="app.form.validation">Form Validation</a></li>
          <li ui-sref-active="active"><a ui-sref="app.form.summernote">Summernote</a></li>
          <li ui-sref-active="active"><a ui-sref="app.form.dropzone">Dropzone</a></li>
        </ul>
      </li>
      <li class="has-sub" ng-class="{active:$state.includes('app.table')}">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-table"></i>
					<span>Tables</span>
        </a>
        <ul class="sub-menu">
          <li ui-sref-active="active"><a ui-sref="app.table.basic">Basic Tables</a></li>
          <li class="has-sub" ng-class="{active:$state.includes('app.table.manage')}">
            <a href="javascript:;">Managed Tables <b class="caret"></b></a>
            <ul class="sub-menu">
              <li ui-sref-active="active"><a ui-sref="app.table.manage.default">Default</a></li>
              <li ui-sref-active="active"><a ui-sref="app.table.manage.autofill">Autofill</a></li>
              <li ui-sref-active="active"><a ui-sref="app.table.manage.buttons">Buttons</a></li>
              <li ui-sref-active="active"><a ui-sref="app.table.manage.colReorder">ColReorder</a></li>
              <li ui-sref-active="active"><a ui-sref="app.table.manage.fixedColumns">Fixed Columns</a></li>
              <li ui-sref-active="active"><a ui-sref="app.table.manage.fixedHeader">Fixed Header</a></li>
              <li ui-sref-active="active"><a ui-sref="app.table.manage.keyTable">KeyTable</a></li>
              <li ui-sref-active="active"><a ui-sref="app.table.manage.responsive">Responsive</a></li>
              <li ui-sref-active="active"><a ui-sref="app.table.manage.rowReorder">RowReorder</a></li>
              <li ui-sref-active="active"><a ui-sref="app.table.manage.scroller">Scroller</a></li>
              <li ui-sref-active="active"><a ui-sref="app.table.manage.select">Select</a></li>
              <li ui-sref-active="active"><a ui-sref="app.table.manage.combine">Extension Combination</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="has-sub" ng-class="{active:$state.includes('app.pos')}">
				<a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-cash-register"></i>
					<span>POS System <span class="label label-theme">NEW</span></span> 
				</a>
				<ul class="sub-menu">
					<li><a ui-sref="app.pos.customerOrder">Customer Order</a></li>
					<li><a ui-sref="app.pos.kitchenOrder">Kitchen Order</a></li>
					<li><a ui-sref="app.pos.counterCheckout">Counter Checkout</a></li>
					<li><a ui-sref="app.pos.tableBooking">Table Booking</a></li>
					<li><a ui-sref="app.pos.menuStock">Menu Stock</a></li>
				</ul>
			</li>
      <li class="has-sub">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-star"></i> 
					<span>Front End</span>
        </a>
        <ul class="sub-menu">
          <li><a href="../../../frontend/template/template_one_page_parallax/index.html" target="_blank">One Page Parallax</a></li>
          <li><a href="../../../frontend/template/template_blog/index.html" target="_blank">Blog</a></li>
          <li><a href="../../../frontend/template/template_forum/index.html" target="_blank">Forum</a></li>
          <li><a href="../../../frontend/template/template_e_commerce/index.html" target="_blank">E-Commerce</a></li>
        </ul>
      </li>
      <li class="has-sub">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-envelope"></i>
					<span>Email Template</span>
        </a>
        <ul class="sub-menu">
          <li><a href="views/email_system.html">System Template</a></li>
          <li><a href="views/email_newsletter.html">Newsletter Template</a></li>
        </ul>
      </li>
      <li class="has-sub" ng-class="{active:$state.includes('app.chart')}">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-chart-pie"></i>
					<span>Chart <span class="label label-theme">NEW</span></span>
        </a>
        <ul class="sub-menu">
          <li ui-sref-active="active"><a ui-sref="app.chart.flot">Flot Chart</a></li>
          <li ui-sref-active="active"><a ui-sref="app.chart.js">Chart JS</a></li>
          <li ui-sref-active="active"><a ui-sref="app.chart.d3">d3 Chart</a></li>
          <li ui-sref-active="active"><a ui-sref="app.chart.apex">Apex Chart <i class="fa fa-paper-plane text-theme"></i></a></li>
        </ul>
      </li>
      <li ui-sref-active="active"><a ui-sref="app.calendar"><i class="fa fa-calendar"></i> <span>Calendar</span></a></li>
      <li class="has-sub" ng-class="{active:$state.includes('app.map')}">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-map"></i>
					<span>Map</span>
        </a>
        <ul class="sub-menu">
          <li ui-sref-active="active"><a ui-sref="app.map.vector">Vector Map</a></li>
          <li ui-sref-active="active"><a ui-sref="app.map.google">Google Map</a></li>
        </ul>
      </li>
      <li class="has-sub" ng-class="{active:$state.includes('app.gallery')}">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-image"></i>
					<span>Gallery</span>
        </a>
        <ul class="sub-menu">
          <li ui-sref-active="active"><a ui-sref="app.gallery.v1">Gallery v1</a></li>
          <li ui-sref-active="active"><a ui-sref="app.gallery.v2">Gallery v2</a></li>
        </ul>
      </li>
      <li class="has-sub" ng-class="{active:$state.includes('app.options')}">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-cogs"></i>
					<span>Page Options <span class="label label-theme">NEW</span></span>
        </a>
        <ul class="sub-menu">
          <li ui-sref-active="active"><a ui-sref="app.options.pageBlank">Blank Page</a></li>
          <li ui-sref-active="active"><a ui-sref="app.options.pageWithFooter">Page with Footer</a></li>
          <li ui-sref-active="active"><a ui-sref="app.options.pageWithoutSidebar">Page without Sidebar</a></li>
          <li ui-sref-active="active"><a ui-sref="app.options.pageWithRightSidebar">Page with Right Sidebar</a></li>
          <li ui-sref-active="active"><a ui-sref="app.options.pageWithMinifiedSidebar">Page with Minified Sidebar</a></li>
          <li ui-sref-active="active"><a ui-sref="app.options.pageWithTwoSidebar">Page with Two Sidebar</a></li>
          <li ui-sref-active="active"><a ui-sref="app.options.pageFullHeightContent">Full Height Content</a></li>
          <li ui-sref-active="active"><a ui-sref="app.options.pageWithWideSidebar">Page with Wide Sidebar</a></li>
          <li ui-sref-active="active"><a ui-sref="app.options.pageWithLightSidebar">Page with Light Sidebar</a></li>
          <li ui-sref-active="active"><a ui-sref="app.options.pageWithMegaMenu">Page with Mega Menu</a></li>
          <li ui-sref-active="active"><a ui-sref="app.options.pageWithTopMenu">Page with Top Menu</a></li>
          <li ui-sref-active="active"><a ui-sref="app.options.pageWithBoxedLayout">Page with Boxed Layout</a></li>
          <li ui-sref-active="active"><a ui-sref="app.options.pageWithMixedMenu">Page with Mixed Menu</a></li>
          <li ui-sref-active="active"><a ui-sref="app.options.pageWithBoxedMixedMenu">Boxed Layout with Mixed Menu</a></li>
          <li ui-sref-active="active"><a ui-sref="app.options.pageWithTransparentSidebar">Page with Transparent Sidebar</a></li>
          <li ui-sref-active="active"><a ui-sref="app.options.pageWithSearchSidebar">Page with Search Sidebar <i class="fa fa-paper-plane text-theme"></i></a></li>
        </ul>
      </li>
      <li class="has-sub" ng-class="{active:$state.includes('app.extra')}">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-gift"></i>
					<span>Extra <span class="label label-theme">NEW</span></span>
        </a>
        <ul class="sub-menu">
          <li ui-sref-active="active"><a ui-sref="app.extra.timeline">Timeline</a></li>
          <li ui-sref-active="active"><a ui-sref="comingSoon">Coming Soon Page</a></li>
          <li ui-sref-active="active"><a ui-sref="app.extra.searchResults">Search Results</a></li>
          <li ui-sref-active="active"><a ui-sref="app.extra.invoice">Invoice</a></li>
          <li ui-sref-active="active"><a ui-sref="error">404 Error Page</a></li>
          <li ui-sref-active="active"><a ui-sref="app.extra.profile">Profile Page</a></li>
          <li ui-sref-active="active"><a ui-sref="app.extra.scrumBoard">Scrum Board <i class="fa fa-paper-plane text-theme"></i></a></li>
          <li ui-sref-active="active"><a ui-sref="app.extra.cookieAcceptanceBanner">Cookie Acceptance Banner <i class="fa fa-paper-plane text-theme"></i></a></li>
        </ul>
      </li>
      <li class="has-sub">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-key"></i>
					<span>Login & Register</span>
        </a>
        <ul class="sub-menu">
          <li ui-sref-active="active"><a ui-sref="member.login.v1">Login</a></li>
          <li ui-sref-active="active"><a ui-sref="member.login.v2">Login v2</a></li>
          <li ui-sref-active="active"><a ui-sref="member.login.v3">Login v3</a></li>
          <li ui-sref-active="active"><a ui-sref="member.register">Register v3</a></li>
        </ul>
      </li>
      <li class="has-sub">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-cubes"></i>
					<span>Version <span class="label label-theme">NEW</span></span>
        </a>
        <ul class="sub-menu">
          <li><a href="../template_html/index_v2.html">HTML</a></li>
          <li><a href="../template_ajax/index.html">AJAX</a></li>
          <li><a href="#">ANGULAR JS</a></li>
          <li><a href="#">ANGULAR JS 10</a></li>
          <li><a href="#">VUE JS</a></li>
          <li><a href="#">REACT JS</a></li>
          <li><a href="#">LARAVEL</a></li>
          <li><a href="#">ASP.NET</a></li>
          <li><a href="../template_material/index_v2.html">MATERIAL DESIGN</a></li>
          <li><a href="../template_apple/index_v2.html">APPLE DESIGN</a></li>
          <li><a href="../template_transparent/index_v2.html">TRANSPARENT DESIGN <i class="fa fa-paper-plane text-theme"></i></a></li>
          <li><a href="../template_facebook/index_v2.html">FACEBOOK DESIGN <i class="fa fa-paper-plane text-theme"></i></a></li>
          <li><a href="../template_google/index_v2.html">GOOGLE DESIGN <i class="fa fa-paper-plane text-theme"></i></a></li>
        </ul>
      </li>
      <li class="has-sub" ng-class="{active:$state.includes('app.helper')}">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-medkit"></i>
					<span>Helper</span>
        </a>
        <ul class="sub-menu">
          <li ui-sref-active="active"><a ui-sref="app.helper.css">Predefined CSS Classes</a></li>
        </ul>
      </li>
      <li class="has-sub">
        <a href="javascript:;">
					<b class="caret"></b>
					<i class="fa fa-align-left"></i> 
					<span>Menu Level</span>
        </a>
        <ul class="sub-menu">
          <li class="has-sub">
            <a href="javascript:;">
							Menu 1.1
							<b class="caret"></b>
            </a>
            <ul class="sub-menu">
              <li class="has-sub">
                <a href="javascript:;">
									Menu 2.1
									<b class="caret"></b>
                </a>
                <ul class="sub-menu">
                  <li><a href="javascript:;">Menu 3.1</a></li>
                  <li><a href="javascript:;">Menu 3.2</a></li>
                </ul>
              </li>
              <li><a href="javascript:;">Menu 2.2</a></li>
              <li><a href="javascript:;">Menu 2.3</a></li>
            </ul>
          </li>
          <li><a href="javascript:;">Menu 1.2</a></li>
          <li><a href="javascript:;">Menu 1.3</a></li>
        </ul>
      </li>
      <!-- begin sidebar minify button -->
      <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
      <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->